nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height:10vh;
}

.nav-links{
    width:40%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.ulShop{
    list-style: none;
}

.liNavbar{
    color:indianred;
}
li:hover{
    color:orangered;
    text-decoration: none;
}

li:active{
    color:mediumspringgreen;
    text-decoration: none;
}

.colorLink{
    color:mediumspringgreen;
}

.colorLink:hover{
    color:indianred;
}

.colorLink:active{
    color:orangered;
}










