*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    display:flex;
    justify-content: center;
    align-items: center;
}


body{
    background-color: indigo;
    color:wheat;
    font-size:1.5rem ;
    font-weight: normal;
    font-family: "Roboto Thin";
}

.containerAppGabi{
    max-width:1170px;
    width:90vw;
}

button{
    font-family: "Roboto Thin";
    color:indigo;
}

button:hover{
    color:indianred;
}

.buttonShop{
    color:indigo;
}

.buttonShop:hover{
    color:indianred;
}

.logoText{
    text-shadow: 1px 1px 3px mediumspringgreen;
}

.supervisors{
    display:flex;
    align-items: center;
    justify-content: space-between;
}


@keyframes pulse {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1.5);
    }
}

.catalin {
    animation: pulse 3s infinite alternate;
}
.costica {
    animation: pulse 3s infinite alternate;
}

.catalin{
    margin-right:2.5em;
    color:wheat;
}
.costica{
    margin-left:2.5em;
    color:wheat;
}

.supervisorsAnimation{
    width: 6.5em;
    height: 2.5em;
    background: indianred;
    border:5px solid mediumspringgreen;
    transition: 0.5s;
    border-radius:0.5em;
    color:indigo;

    display:flex;
    align-items: center;
    justify-content: center;
}
.supervisorsAnimation:hover{
    background: mediumspringgreen;
    border:5px solid indianred;
    transform: scale(1.3);
    box-shadow:3px 3px 5px gray;
}


@media screen and (min-width:960px){

    body{
        background-color: wheat;
        color:indigo;
    }

    .containerAppGabi{
        font-size:2rem ;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .logoText{
        text-shadow: 3px 3px 5px gray;
    }

    button{
        box-shadow:3px 3px 5px gray;
        font-family:'Roboto', sans-serif;
        color:indigo;
    }

    .buttonShop{
        color:indigo;
    }

    .imgItemAbout{
        box-shadow:3px 3px 5px gray;
    }

    .inputItemAbout{
        box-shadow:3px 3px 5px gray;
    }

    .createDeleteItemAbout{
        text-shadow:3px 3px 5px gray;
    }

    .componentTagAbout{
        box-shadow:1px 1px 3px gray;
        border-radius: 0.5em;
    }

    .supervisors{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .mobileBlockScreenFlex{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .catalin{
        color:indigo;
    }
    .costica{
        color:indigo;
    }
}



.myTitle {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}


.myTitle::before {
    content: "";
    display: block;
    height: 5px;
    background: indianred;
    border-radius: 15px;
    flex-grow: 55;
    margin-right: 0.7em;
}

.myTitle::after {
    content: "";
    display: block;
    height: 5px;
    background: indianred;
    border-radius: 15px;
    flex-grow: 55;
    margin-left: 0.7em;
}

.parent{
    width: 5em;
    height: 5em;
    background: mediumspringgreen;
    margin: 10px auto;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.child{
    width: 2.5em;
    height: 2.5em;
    transition: 0.5s;
    background: indianred;
    padding-bottom: 1.5em;
}

.parent:hover{
    transform:rotate(90deg) ;
    background: indianred;
}

.parent:hover .child{
    transform:rotate(-180deg) ;
    background: mediumspringgreen;
}





.parentCenter{
    width: 5em;
    height: 5em;
    background: indianred;
    margin: 10px auto;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.childCenter{
    width: 2.5em;
    height: 2.5em;
    transition: 0.5s;
    background: mediumspringgreen;
    padding-bottom: 1.5em;
}

.parentCenter:hover{
    transform:rotate(90deg) ;
    background: mediumspringgreen;
}

.parentCenter:hover .childCenter{
    transform:rotate(-180deg) ;
    background: indianred;
}


@media screen and (max-width :959px){
    .parent , .child , .parentCenter , .childCenter{
      border-radius: 1em;
    }
}

@media screen and (min-width :960px){
    .parent , .child , .parentCenter , .childCenter{
        border-radius: 0.5em;
        box-shadow:1px 1px 3px gray;
    }
}

.photoHomeSources{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.7em;
}

.shoppingCartImage{
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    width:27em;
    height:20em;
    box-shadow: 3px 3px 5px gray;
    border:3px solid mediumspringgreen;
}

@media screen and (max-width:959px) {

    .shoppingCartImage{
        border-radius: 0.5em;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        width:20em;
        height:13em;
        /*box-shadow: 3px 3px 5px gray;*/
        border:3px solid mediumspringgreen;
    }

    .photoHomeSources {
        margin-top:2.5em;
        margin-bottom:1.5em;
    }
}

.imgItemAbout{
    border-radius:0.5em ;
    margin-top:2.5em ;
    margin-bottom:2.5em ;
    width:7em ;
    height:9em ;
    border:3px solid mediumspringgreen ;
}

.imgItemAbout:hover{
    width:10em ;
    height:12em ;
    border:3px solid indianred ;
}
.dateHour{
    display:flex;
    justify-content: center;
    align-items: center;
}
.clockFooter{
    color:indianred;
    letter-spacing: 0.5em;
    font-size: 0.5em;
    width: 17em;
    height:7em;
    text-shadow: 1px 1px 2px gray;
    /*border:3px solid mediumspringgreen;*/
}

.shopTitleList{
    text-shadow: 2px 2px 5px gray;
}

a{
    text-decoration: none;
    text-shadow: 1px 1px 2px gray;
}

ion-icon{
    color:mediumspringgreen;
    background-color: indianred;
    padding:0.15em;
    border-radius: 50%;
}

ion-icon:hover{
    color:indianred;
    background-color: mediumspringgreen;
}





.basketDiv{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

